Source: sysv-rc-softioc
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), perl
Standards-Version: 3.8.0
Homepage: https://github.com/epicsdeb/sysv-rc-softioc
Vcs-Browser: https://github.com/epicsdeb/sysv-rc-softioc
Vcs-Git: https://github.com/epicsdeb/sysv-rc-softioc

Package: sysv-rc-softioc
Architecture: all
Depends: procserv, ${shlibs:Depends}, ${misc:Depends}
Recommends: conserver-server, epics-dev
Description: A SysV style init script for softiocs
 This init script provides a way to automatically start
 softIocs on system boot.  After system boot they
 can be controled with the procServ process server.
 .
 See /usr/share/doc/sysv-rc-softioc/README for
 setup instructions after installing this package.
